//  css document

html, body{
    padding: 0;
    margin: 0;
}

#holder{
    width: 100%;
    height: 100vh;
    position: relative;
    #video-wrapper{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        #video{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    #mask{
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 2;
        background-image: url('../img/para.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
