/*  Bulletproof @fontface  */
//  Author Piers Rueb
//  https://github.com/piersrueb/bulletproof-fontface

$path: '../fonts';  //  path to font files
$myFont: 'Geomanist-Black';

@font-face {
  font-family: '#{$myFont}';
  src: url('#{$path}/#{$myFont}.eot'); //  IE9 Compat Modes
  src: url('#{$path}/#{$myFont}.eot?#iefix') format('embedded-opentype'), //  IE6-IE8
       url('#{$path}/#{$myFont}.woff2') format('woff2'), //  Super Modern Browsers
       url('#{$path}/#{$myFont}.woff') format('woff'), // Pretty Modern Browsers
       url('#{$path}/#{$myFont}.ttf')  format('truetype'), // Safari, Android, iOS
       url('#{$path}/#{$myFont}.svg#svgFontName') format('svg'); // Legacy iOS
}
