//  Variables

$pc: #ffffff;
$sc: #000000;
$col1: #39ff14;
$col2: #ccff00;
$col3: #ff8300;
$col4: #ff69b4;
$col5: #4d4dff;
$bf: 'centauriRegular', Arial, Helvetica Neue, Helvetica, sans-serif;
$sf: 'Geomanist-Black', Arial, Helvetica Neue, Helvetica, sans-serif;
$largeDesktop: 1280px;
$desktop: 1024px;
$smallDesktop: 960px;
$tablet: 728px;
$largePhone: 568px;
$mediumPhone: 375px;
$smallPhone: 320px;

//  imports

@import 'reset';
@import 'fonts';

//  general

body{
	font-family: $bf;
	font-size: 14px;
	color: $sc;
	background: $col4;
	line-height: 1.7em;
	padding: 0;
	margin: 0;
	position: relative;
}

p{ margin-top: 0; padding-top: 0; }
a:link, a:active, a:visited, a:hover {
	text-decoration: none;
	color: $sc;
}

video::-webkit-media-controls-timeline {
    display: none;
}
video::-webkit-media-controls {
    display: none;
}

//  Structure

.data-holder{
	display: none;
}

main{
	max-width: $largeDesktop;
	margin: 0 auto;
	position: relative;
	section{
		&#holder{
			position: relative;
			padding: 0;
			margin: 0;
			max-width: $largeDesktop;
			background-image: url(../img/off-air.svg);
			background-repeat: no-repeat;
			background-position: center center;
			p{
				&#text{
					color: $sc;
					font-size: 200px;
					line-height: 1.2em;
					text-align: center;
					font-family: $sf;
					position: absolute;
					width: 100%;
				}
			}
			video{
				padding: 0;
				margin: 0;
				width: 100%;
				opacity: 0;
				transition: opacity 0.6s;
				background-color: $sc;
				&.black{
					background: $sc !important;
				}
			}
			#mute{
				cursor: pointer;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transition: 0.8s opacity;
			    opacity: 0;
				svg{
					width: 100%;
					height: 100%;
				}
			}
			#fullscreen{
				position: absolute;
				right: 30px;
				bottom: 30px;
				width: 30px;
				height: 30px;
				z-index: 1000;
				cursor: pointer;
				transition: 0.8s opacity;
				opacity: 0;
				svg{
					width: 100%;
					height: 100%;
				}
			}
			&:hover{
				.mute-active, .fs-active{
					opacity: 1 !important;
				}
			}
		}
	}
}

#progress{
	position: fixed;
	left: 0;
	bottom: 0px;
	height: 4px;
	width: 0;
	background-color: #000;
	z-index: 1000;
	transition: width 0.25s;
}
